<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/hoa-thuc-vat.css" />
</head>
<body>
  <div class="popup">
    <div class="popup-text">
      <p>Sau thất bại trước Saudi Arabia trong trận ra quân World Cup 2022, Argentina đang rất khát khao chiến thắng và liệu họ có làm được điều đó trước Mexico</p>
    </div>
    <div class="popup-img">
      <img src="/upload/pho/Kaempfero/MS.jpeg" alt="pho">
    </div>
  </div>
</body>
</html>