<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tài liệu tham khảo</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/tai-lieu-tham-khao.css" />
</head>
<body>
  <div class="container">
    <%- include('../include/navbar.ejs',{title : "Tài liệu tham khảo"}) %>
  <div class="content">
    <div class="sidebar">
      <%- include('../include/sidebar.ejs') -%>
    </div>
  </div>
</div>
</body>
</html>