.content {
  display: flex;
  padding-top: 70px;
}

.content-desc {
  padding: 2rem;
  padding-left: 332px;
}

.sidebar {
  position: fixed;
  top: 71px;
}

.list {
  margin-bottom: 2rem;
}

.list-text {
  font-size: 18px;
  margin-bottom: 0.8rem;
}

.list-img {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: 40px;
}

.item-img {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-img>img {
  max-width: 80%;
  height: 500px;
  margin-bottom: 1rem;
}

.list-expandAll {
  text-align: center;
}