.container {
  display: flex;
}
.left {
}
.right {
  width: calc(100vw - 300px);
}
table {
  width: calc(100% - 2rem);
  margin: 1rem;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #94c2a7;
  color: #206b40;
  padding: 0.6rem 0;
  text-align: center;
}
tr.item > th {
  background-color: #206b40;
  color: white;
  font-size: 1.6rem;
}