.container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 110px;
}

.left {
  position: fixed;
  top: 71px;
  width: 300px;
  left: 0;
}

.right {
  width: calc(100vw - 300px);
  padding-left: 300px;
  margin-top: 100px;
}

table {
  width: calc(100vw - 2rem - 300px);
  margin: 1rem;
}

table,
th,
td {
  border: 4px solid white;
  border-collapse: collapse;
}

th,
td {
  background-color: #94c2a7;
  color: #206b40;
  padding: 0.6rem 0;
  text-align: center;
}

td {
  padding: 0.4rem;
  color: black;
  position: relative;
}

tr.item>th {
  background-color: #206b40;
  color: white;
  font-size: 1.6rem;
}

.hoat-chat {
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

.phan-doan {
  font-weight: 500;
}

.tinh-chat {
  text-align: start;
}

.item-tinh-chat {
  padding-bottom: 0.6rem;
}

.img {
  max-width: 92%;
  max-height: 92%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-popup {
  position: relative;
}

.popup {
  width: 40vw;
  border: solid 2px orange;
  border-radius: 0.868rem;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 1rem;
  display: none;
  overflow: scroll;
}

.popup.active {
  display: block;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  overflow: scroll;
  z-index: 2;
  max-height: 70%;
}

.popup-name {
  cursor: pointer;
  text-decoration: underline;
}

.popup-text {
  background-color: antiquewhite;
  margin-bottom: 1rem;
}

.popup-text>p {
  text-align: justify;
  padding: 1rem 1rem;
  margin: 0;
}

.popup-img>img {
  width: 100%;
  height: auto;
}

.cau-truc {
  background-color: #8dcaa8;
  position: relative;
  min-height: 300px;
  display: block;
}

.bg-cau-truc {
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.popup-img-2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  ga

}

.popup-img-2 img {
  width: 100%;
}