html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  padding: 1rem;
  background-color: #ffde59;
  font-size: 3.4rem;
  font-weight: 800;
  color: #527f64;
}

.content-item {
  display: none;
  
}

.content-item.active {
  display: block;
  width: 88%;
  height: 600px;
  padding: 2rem 1rem;
  border: 9px solid #206b40;
  border-radius: 1rem;
  text-align: justify;
  font-size: 1.4rem;
}

.container {
  padding: 4rem;
  display: flex;
  align-items: center;
}

.content {
  position: relative;
  width: 60%;
  margin-left: 40px;
  bottom: 40px;
}

.container-img {
  width: 30%;
  margin-top: 70px;
}

.img-top {
  width: 100%;
}

.img-top img {
  width: calc(100% - 12px);
  height: 180px;
  border: 6px solid #cdac0b;
  border-radius: 1rem;
  cursor: pointer;
  object-fit: cover;
  margin-left: 5px;
}

.img-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.img-bottom img {
  width: 30%;
  height: 180px;
  border: 6px solid #cdac0b;
  border-radius: 1rem;
  cursor: pointer;
}