.content {
    display: flex;
    flex-direction: row;
}



.search_form {
    /* width: 500px; */
    background-color: #94c2a7;
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: right;
    height: 70px;
    align-items: center;
    padding-right: 5px;
}


.search-input-div input {
    /* border-right: none; */
    width: 400px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-color: #b87715;
    padding-left: 50px;
    font-weight: 600;
    font-size: 18px;
}

.search-input-div input::placeholder {
    color: black;
}

.search-input-div input:focus {
    outline: none;
}

.search-button-div button {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: #b87715;
    background-color: #b87715;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-desc {
    flex-grow: 5;
    text-align: left;
    padding: 2rem 2rem 2rem;
}

.navbar {
    background-color: #206b40;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar img {
    flex-grow: 1;
    width: 10%;
}

.navbar .nav-name {
    flex-grow: 5;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: white;
}

.div-name {
    font-style: italic;
    font-size: 600%;
    font-weight: 600;
}

.list-other-name .name {
    margin-left: 28px;
    list-style: none;
}

.content-desc img {
    position: relative;
    right: -20px;
    float: right;
    width: 40%;
}