html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 300px;
  height: 100vh;
  margin: 0;
  background-color: #ffde59;
  padding-left: 0;
  padding-top: 1rem;
}
.menu-item {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid #8080802d;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
nav.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar-current {
  width: 320px;
  padding: 1rem;
  text-align: center;
  background-color: #b87715;
  color: white;
  font-size: 1.6rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.navbar-name {
  flex: 1;
  background-color: #206b40;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.link-reference{
  color: rgb(57, 57, 199);
  text-decoration: none;
}
.nav-name {
  background-color: #206b40;
  padding: 1.2rem;
  color: white;
  width: calc(100vw - 320px);
}
.nav-name p {
  font-size: 1.6rem;
  font-weight: 600;
}
