.content {
    padding-top: 110px;
    margin-bottom: 40px;
}

.sidebar {
    position: fixed;
    top: 110px;
}

.content-desc {
    padding: 2rem 8rem 0 2rem;
    padding-left: 380px;
}

.text div {
    margin-bottom: 10px;
    text-indent: 40px;
    text-align: justify;
}

.imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 30px;
}

.imgs img {
    width: 50%;
    max-height: 100%;
}

.prescription{
    margin-left: 400px;
}

.prescription ol {
    padding-left: 30px;
}

.prescription-desc{
    padding-left: 30px;
    list-style-type: initial; 
    display: list-item ;
    list-style-position: inside
}