<nav class="navbar">
    <div class="navbar-current"><a href="/home" style="color : inherit; text-decoration:  none;">Trang chủ</a></div>
    <div class="navbar-name">Giới thiệu về Website</div>
  </nav>