<nav class="navbar" style="height: 100px;">
  <div class="navbar-current">
    <a href="/" style="color : inherit; text-decoration:  none;font-size: 40px;font-weight: 600;"><i class="fa-solid fa-house"></i> Trang chủ
    </a>
  </div>
  <div class="navbar-name" style="font-size: 50px;">Giới thiệu về Website</div>
</nav>