<ul class="menu">
  <a class="menu-item" href="/">Trang chủ</a>
  <a class="menu-item" href="/introduction">Giới thiệu</a>
  <a class="menu-item" href="/description">Mô tả</a>
  <a class="menu-item" href="/microsurgery">Vi phẫu</a>
  <a class="menu-item" href="/distribution">Phân bố sinh thái</a>
  <a class="menu-item" href="/hoa-thuc-vat-va-hoat-tinh-sinh-hoc">
    <p>Hóa thực vật và</p>
    <p>hoạt tính sinh học</p>
  </a>
  <a class="menu-item" href="/uses">Bộ phận dùng và <br> công dụng</a>
  <a class="menu-item" href="/tai-lieu-tham-khao">Tài liệu tham khảo</a>
</ul>